{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Series index
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/styleIndexS.css">
{% endblock %}

{% block body %}
	<div id="tout">

		<header>
			<a href="{{path('app_default')}}">Netflop</a>
			<div id="id">
				{% if app.user %}
					<a href="{{ path('app_logout') }}"><input name="deconnexion" type="submit" value="Déconnexion"></a>
				{% else %}
					<a href="{{ path('app_login') }}"><input name="connexion" type="submit" value="Connexion"></a>
					<a href="{{ path('app_register') }}"><input name="inscription" type="submit" value="Inscription"></a>
				{% endif %}
			</div>
		</header>
		<div id="content">
			<h1>Catalogue</h1>

			<table
				class="table">
				<!--<thead>
												                    <tr>
												                        <th>Title</th>
												                        <th>Poster</th>
												                        <th>Director</th>
												                        <th>YoutubeTrailer</th>
												                        <th>actions</th>
												                    </tr>
												                </thead>-->
				<tbody id="afficheSeries">
					{% for series in series %}
						<tr id="serie">
							<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
							<!--<td>{{ series.director }}</td>
																					                        <td>{{ series.youtubeTrailer }}</td>-->
							<td>{{ series.title }}</td>

							<td>
								<a class="boutonModif" href="{{ path('app_series_show', {'id': series.id}) }}">Afficher</a>
								<a class="nePasAfficher" href="{{ path('app_series_edit', {'id': series.id}) }}">Edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">no records found</td>
						</tr>
					{% endfor %}

					{# 
															                <div class="bouton">
															                    <a href="{{ path('app_series_index_page', {'page': series|length } ) }}"> Suivant > </a>
															                </div>
															                #}

					<div class="navigation">
						{{ knp_pagination_render(series) }}
					</div>

					{# Permet de gérer l'aleatoire #}
					{#
															                    {% set randomSerie = random(series) %}
															                    <td>{{ randomSerie.title }}</td>
															                        <td><img src="{{ path('poster_series_show', {'id': randomSerie.id} ) }}"/></td>
															                        <td>{{ randomSerie.director }}</td>
															                        <td>{{ randomSerie.youtubeTrailer }}</td>
															                        <td>
															                            <a href="{{ path('app_series_show', {'id': randomSerie.id}) }}">show</a>
															                            {# <a href="{{ path('app_series_edit', {'id': randomSerie.id}) }}">edit</a> 
															                        </td>
															                    </tr>
															                    #}
				</tbody>
			</table>
			{# <a href="{{ path('app_series_new') }}">Create new</a> #}
		</div>
	</div>
{% endblock %}
