{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Poster</th>
                <th>Director</th>
                <th>YoutubeTrailer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for series in series %}
            <tr>
                <td>{{ series.title }}</td>
                <td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
                <td>{{ series.director }}</td>
                <td>{{ series.youtubeTrailer }}</td>
                <td>
                    <a href="{{ path('app_series_show', {'id': series.id}) }}">show</a>
                    <a href="{{ path('app_series_edit', {'id': series.id}) }}">edit</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        {% if page is defined and page-pagination >= 0 %}
            <a href="{{ path('app_series_index_page', {'page': page-pagination } ) }}"> précédent </a>

            <a href="{{ path('app_series_index_page', {'page': page+pagination } ) }}"> suivant </a>
        {% else %}
        <a href="{{ path('app_series_index_page', {'page': series|length } ) }}"> suivant </a>
        {% endif %}


         {# Permet de gérer l'aleatoire #}
         {#
            {% set randomSerie = random(series) %}
            <td>{{ randomSerie.title }}</td>
                <td><img src="{{ path('poster_series_show', {'id': randomSerie.id} ) }}"/></td>
                <td>{{ randomSerie.director }}</td>
                <td>{{ randomSerie.youtubeTrailer }}</td>
                <td>
                    <a href="{{ path('app_series_show', {'id': randomSerie.id}) }}">show</a>
                    {# <a href="{{ path('app_series_edit', {'id': randomSerie.id}) }}">edit</a> #}
                </td>
            </tr>
            #}
        </tbody>
    </table>
   {# <a href="{{ path('app_series_new') }}">Create new</a> #}
{% endblock %}
