{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Series index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../style/styleIndexS.css">
{% endblock %}

{% block body %}
	<div id="tout">

		<header>
			<a href="{{path('app_default')}}">Netflop</a>
			<div id="id">
				{% if app.user %}
					<a href="{{ path('app_logout') }}"><input name="deconnexion" type="submit" value="Déconnexion"></a>
				{% else %}
					<a href="{{ path('app_login') }}"><input name="connexion" type="submit" value="Connexion"></a>
					<a href="{{ path('app_register') }}"><input name="inscription" type="submit" value="Inscription"></a>
				{% endif %}
			</div>
		</header>
		<div id="content">
			<h1>Catalogue</h1>

			<table class="table">
				<tbody id="afficheSeries">
					{% for series in series %}
						<tr id="serie">
							<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
							<td>{{ series.title }}</td>

							<td>
								<a class="boutonModif" href="{{ path('app_series_show', {'id': series.id, 'numPage': numPage}) }}">Afficher</a>
								<a class="nePasAfficher" href="{{ path('app_series_edit', {'id': series.id}) }}">Edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">Pas d'autres séries trouvées</td>
						</tr>
					{% endfor %}
					<div class="navigation">
						{{ knp_pagination_render(series) }}
					</div>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
