{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Series index
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../styles/styleIndexS.css">
{% endblock %}

{% block body %}
	<div id="tout">

		<header>
			<a href="{{path('app_default')}}" class="title">Netflop</a>
			<div id="id">
				{% include 'header.html.twig' %}
			</div>
		</header>
		<div id="content">
			<h1>Catalogue</h1>


			{% if form is defined %}
  {{ form_start(form) }}
 
  {{ form_widget(form) }}
  <input type="submit" value="Rechercher" />

  <style>
  input[type="text"]{
	width: 20%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 16px;
	color: black;
  }

  input[value="Rechercher"]{
		background-color: #f44336;
			border: none;
			color: black;
			padding: 10px 25px;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			border-radius: 4px;
			cursor: pointer;
			margin: 5px;
			margin-bottom: 15px;
  }

  </style>
 {{ form_end(form) }}

{% endif %}

			<table
				class="table">
				<!--<thead>
												                    <tr>
												                        <th>Title</th>
												                        <th>Poster</th>
												                        <th>Director</th>
												                        <th>YoutubeTrailer</th>
												                        <th>actions</th>
												                    </tr>
												                </thead>-->
				<tbody id="afficheSeries">
					{% for series in series %}
						<tr id="serie">
							<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
							<!--<td>{{ series.director }}</td>
																					                        <td>{{ series.youtubeTrailer }}</td>-->
							<td>{{ series.title }}</td>

							<td>
								{% if numPage is defined %}
								<a class="boutonModif" href="{{ path('app_series_show', {'id': series.id, 'numPage': numPage}) }}">Afficher</a>
								<a class="nePasAfficher" href="{{ path('app_series_edit', {'id': series.id}) }}">Edit</a>
								{% else %}
								<a class="boutonModif" href="{{ path('app_series_show', {'id': series.id}) }}">Afficher</a>
								<a class="nePasAfficher" href="{{ path('app_series_edit', {'id': series.id}) }}">Edit</a>
								{% endif %}	
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">no records found</td>
						</tr>
					{% endfor %}

					{# 
															                <div class="bouton">
															                    <a href="{{ path('app_series_index_page', {'page': series|length } ) }}"> Suivant > </a>
															                </div>
															                #}


				    
					{% if pagination is defined and pagination == true %}
					<div class="navigation">
						{{ knp_pagination_render(series) }}
					</div>
					{% endif %}
					{# Permet de gérer l'aleatoire #}
					{#
															                    {% set randomSerie = random(series) %}
															                    <td>{{ randomSerie.title }}</td>
															                        <td><img src="{{ path('poster_series_show', {'id': randomSerie.id} ) }}"/></td>
															                        <td>{{ randomSerie.director }}</td>
															                        <td>{{ randomSerie.youtubeTrailer }}</td>
															                        <td>
															                            <a href="{{ path('app_series_show', {'id': randomSerie.id}) }}">show</a>
															                            {# <a href="{{ path('app_series_edit', {'id': randomSerie.id}) }}">edit</a> 
															                        </td>
															                    </tr>
															                    #}
				</tbody>
			</table>
			{# <a href="{{ path('app_series_new') }}">Create new</a> #}
		</div>
	</div>
{% endblock %}
