{% extends 'base.html.twig' %}

{% block title %}Series
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/styleShowS.css">
{% endblock %}

{% block body %}

	<div id="tout">
		<header>
			<a href="{{path('app_default')}}">Netflop</a>

		</header>
		<div id="content">
			<div id="partGauche">
				<p id="titre">{{ series.title }}</p>
			</br>
			<p>{{ series.plot }}</p>
			<p>{{ series.director }}</p>
		</br>
		<h2>Bande d'annonce</h2>
		<iframe width="560" height="315" src="{{ series.getEmbedtrailerLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<h2>Awards</h2>
		<p>{{ series.awards }}</p>
		<h2>YearStart</h2>
		<p>{{ series.yearStart }}</p>
		<h2>YearEnd</h2>
		<p>{{ series.yearEnd }}</p>
		<h2>Seasons</h2>
		<ul>
			<td>
				{% for season in series.seasons|sort((a, b) => a.number <=> b.number) %}
					<li>Saison
						{{ season.number }}
						({{ season.episodes|length }}
						épisodes)</li>
				{% endfor %}
			</td>
		</ul>
	</div>
	<div id="partDroite">
		<tr>
			<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
		</tr>
	</div>
</div>
<div id="bouton">
	<a href="{{ path('app_series_index') }}?page={{numPage}}">back to list</a>
</div></div>{# <a href="{{ path('app_series_edit', {'id': series.id}) }}">edit</a> #}{#  {{ include('series/_delete_form.html.twig') }} #}{% endblock %}
