{% extends 'base.html.twig' %}

{% block title %}Series
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../style/styleShowS.css">
{% endblock %}


{% block body %}

	<div id="tout">
		<header>
			<a href="{{path('app_default')}}">Netflop</a>

		</header>
		<div id="content">
			<div id="partGauche">
				<p id="titre">{{ series.title }}</p>
			</br>
			<p>{{ series.plot }}</p>
			<p>{{ series.director }}</p>
		</br>
		<h2>Genre</h2>
		<ul>
			<td>
				{% for genre in series.genre %}
					<li>
						{{ genre.name }}
					</li>
				{% endfor %}
			</td>
		</ul>
		<h2>Bande d'annonce</h2>
		<iframe width="560" height="315" src="{{ series.getEmbedtrailerLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<h2>IMDB</h2>
		<p>
			<a href="https://www.imdb.com/title/" {{series.imdb}}>Page imdb</a>
		</p>
		<h2>Récompense(s)</h2>
		<p>{{ series.awards }}</p>
		<h2>Année de début</h2>
		<p>{{ series.yearStart }}</p>
<<<<<<< HEAD
		{% if series.yearEnd != null %}
			<h2>Année de fin</h2>
			<p>{{ series.yearEnd }}</p>
		{% endif %}
		<h2>Saison(s)</h2>
=======
        {% if series.yearEnd is not null %}
		<h2>YearEnd</h2>
		<p>{{ series.yearEnd }}</p>
        {% endif %}
		<h2>Seasons</h2>
>>>>>>> origin/2.3_2.2
		<ul>
			<td>
                <select name="season" id="season">
				{% for season in series.seasons|sort((a, b) => a.number <=> b.number) %}
                    <option value="{{ season.number }}">Saison {{ season.number }}</option>
				{% endfor %}
                </select>
                {% for season in series.seasons %}
                    {% for episode in season.episodes|sort((a,b) => a.number <=> b.number) %}
                        <p id="{{season.number}}" class="episode">{{episode.number}} {{ episode.title}}
                        {% if app.user %}
                            {% if episode in app.user.episode %}
                                <a class="episode_see_button" href="{{ path('app_series_show_seen_adds', {'series': series.id, 'episode' : episode.id, 'yesno' : '0'}) }}"><button>See Again</button></a>
                            {% else %}
                                <a class="episode_see_button" href="{{ path('app_series_show_seen_adds', {'series': series.id, 'episode' : episode.id, 'yesno' : '1'}) }}"><button>See</button></a>
                            {% endif %}
                        {% endif %}
                        </p>
                    {% endfor %}
                {% endfor %}
			</td>
		</ul>
        {% if app.user.id is defined %}
            {% if valeur == 1 %}
                        <input type="checkbox" id="suivi" onchange="changerPage({{series.id}},{{app.user.id}})" checked>
                {% else %}
                    <input type="checkbox" id="suivi" onchange="changerPage({{series.id}},{{app.user.id}})">
                {% endif %}
        {% endif %}
                
	</div>
	<div id="partDroite">
		<tr>
			<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
		</tr>
	</div>
</div>
<div id="bouton">
	<a href="{{ path('app_series_index') }}?page={{numPage}}">back to list</a>
</div></div>{# <a href="{{ path('app_series_edit', {'id': series.id}) }}">edit</a> #}{#  {{ include('series/_delete_form.html.twig') }} #}

    <script>
    </script>


   <script>
    function changerPage(idSerie, idUser) {
        if (document.getElementById("suivi").checked){
			alert("Vous suivez cette série");
            window.location.replace(idSerie+"/set_following/"+"1/1");
            {# window.location.replace({{ path('app_series_show_adds', {'series' : series.id, 'yesno' : '1'}) }}); #}
        }
        else {
            window.location.replace(idSerie+"/set_following/"+"0/1");
			alert("Vous ne suivez plus cette série");
            {# window.location.replace({{ path('app_series_show_adds', {'series' : series.id, 'yesno' : '0'}) }}); #}
        }
    }
    </script>

    <script>
        var select = document.querySelector('select');
        select.addEventListener('change', function() {
            var selected = this.value;
            var episodes = document.querySelectorAll('.episode');
            for (var i = 0; i < episodes.length; i++) {
                if (episodes[i].id == selected) {
                    episodes[i].style.display = 'block';
                } else {
                    episodes[i].style.display = 'none';
                }
            }
        });
    </script>

    <script>
        window.onload = function() {
            var selected = 1;
            var episodes = document.querySelectorAll('.episode');
            for (var i = 0; i < episodes.length; i++) {
                if (episodes[i].id == selected) {
                    episodes[i].style.display = 'block';
                } else {
                    episodes[i].style.display = 'none';
                }
            }
        }
    </script>

{% endblock %}
