{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Tous
les utilisateurs
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="../style/styleIndexS.css" />
{% endblock %}
{% block body %}
<div id="tout">
	<header>
		<a href="{{ path('app_default') }}" class="title">Netflop</a>
		<div id="id">{% include 'header.html.twig' %}</div>
	</header>
	<div id="content">
		<h1>Utilisateurs</h1>
		{% if form is defined %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<input id="boutonRecherche" type="submit" value="Rechercher" />
		<style>
			input[type="text"] {
				width: 20%;
				height: 30px;
				border-radius: 5px;
				border: 1px solid #ccc;
				padding: 5px;
				font-size: 16px;
				color: black;
			}

			input[value="Rechercher"] {
				background-color: #f44336;
				border: none;
				color: black;
				padding: 10px 25px;
				text-align: center;
				text-decoration: none;
				font-size: 16px;
				border-radius: 4px;
				cursor: pointer;
				margin: 5px 5px 15px;
			}
		</style>
		{{ form_end(form) }}
		{% endif %}
		<a class="bouton" href="{{ path('app_series_index') }}" style="margin-bottom: 15px">
			Retour</a>
		<div class="navigation" style="margin-top:30px">
			{{ knp_pagination_render(users) }}
		</div>
		<div id="users">
			{% for user in users %}
			<div class="user">
				{% if user.photo is not null %}
				<img src="{{ path('photo_user', { id: user.id }) }}" alt="photo de profil" style="border-radius: 50%"
					width="400vh" />
				{% else %}
				<img src="../images/avatar.png" alt="photo de profil" />
				{% endif %}
				<p>{{ user.name }}</p>
				<a class="bouton" href="{{ path('app_user_profile', { id: user.id }) }}">Afficher</a>
			</div>
			{% else %}
			<span colspan="11">Pas d'autres utilisateurs trouvées</span>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}