{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Series index
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/styleIndexS.css">
{% endblock %}

{% block body %}
	<div id="tout">

		<header>
			<a href="{{path('app_default')}}" class="title">Netflop</a>
			<div id="id">
				{% include 'header.html.twig' %}
			</div>
		</header>
		<div id="content">
			<h1>Vos séries favorites</h1>
			<a class="boutonModif" href="{{ path('app_series_index', {'page': numPage} ) }}"> Retour</a>
			<table
				class="table">
				<tbody id="afficheSeries">
					{% for series in app.user.series %}
						<tr id="serie">
							<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
							<td>{{ series.title }}</td>

							<td>
								<a class="boutonModif" href="{{ path('app_series_show', {'id': series.id}) }}">Afficher</a>
								<a class="boutonModif" href="{{ path('app_series_show_adds', {'series': series.id, 'yesno': "0", 'redirect': "0" }) }}">Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}


