{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/styleIndexS.css">
{% endblock %}

{% block title %}Favorite Series{% endblock %}

{% block body %}
<h1 style="color:#f44336">Your favorite serires</h1>
<ul>
    <li><a  class="boutonModif" href="{{ path('app_series_index')  }}">Back to the list</a></li>
</ul>
<div class="row">

	<tbody id="afficheSeries">
					{% for series in app.user.series %}
						<tr id="serie">
							<td><img src="{{ path('poster_series_show', {'id': series.id} ) }}"/></td>
							<td style="color:black">{{ series.title }}</td>
							<td>
								<a class="boutonModif" href="{{ path('app_series_show', {'id': series.id}) }}">Afficher</a>
								<a class="boutonModif" href="{{ path('app_series_show_adds', {'series': series.id, 'yesno': "0", 'redirect': "0" }) }}">Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">no records found</td>
						</tr>
					{% endfor %}
{% endblock %}
