{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Historique
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="../style/styleIndexS.css">
{% endblock %}

{% block body %}
	<div id="tout">

		<header>
			<a href="{{path('app_default')}}" class="title">Netflop</a>
			<div id="id">
				{% include 'header.html.twig' %}
			</div>
		</header>
		<div id="content">
			<h1>Votre historique d'épisodes</h1>
			<a class="bouton" href="{{ path('app_series_index', {'page': numPage} ) }}" style="margin-bottom:15px">
				Retour</a>
			<div id="episodes">
				{% for episode in episodes %}
					<div class="episode">
						<p>{{episode.season.series.title}}</p>
						<img src="{{ path('poster_series_show', {'id': episode.season.series.id} ) }}" , alt="Poster"/>
						<p>{{episode.number}}
							{{ episode.title }}</p>
						<a class="bouton" href="{{ path('app_series_show', {'id': episode.season.series.id}) }}">Afficher</a>
						<a class="bouton" href="{{ path('app_series_show_seen_adds', {'series': episode.season.series.id, 'episode': episode.id, 'yesno': "0"}) }}">Supprimer</a>
					</div>
				{% else %}
					<span colspan="11">Aucun épisode vu.</span>
				{% endfor %}
				{% if pagination is defined and pagination == true %}
					<div class="navigation" style="margin-top:20px">
						{{ knp_pagination_render(episodes) }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
