{% extends 'base.html.twig' %}
{% set pagination = 10 %}
{% block title %}Series index
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/styleIndexS.css">
{% endblock %}

{% block body %}
	<div id="tout">

		<header>
			<a href="{{path('app_default')}}" class="title">Netflop</a>
			<div id="id">
				{% include 'header.html.twig' %}
			</div>
		</header>
		<div id="content">
			<h1>Votre historique d'épisodes</h1>
            <a class="boutonModif" href="{{ path('app_series_index', {'page': numPage} ) }}" style="margin-bottom:15px"> Retour</a>

			<table
				class="table">
				<tbody id="afficheSeries">
					{% for episode in episodes %}
						<tr id="serie">
                            <td>{{episode.season.series.title}}</td>
							<td><img src="{{ path('poster_series_show', {'id': episode.season.series.id} ) }}"/></td>
							<td>{{episode.number}} {{ episode.title }}</td>

							<td>
								<a class="boutonModif" href="{{ path('app_series_show', {'id': episode.season.series.id}) }}">Afisher</a>
                                <a class="boutonModif" href="{{ path('app_series_show_seen_adds', {'series': episode.season.series.id, 'episode': episode.id, 'yesno': "0"}) }}">Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">Aucune série trouvée.</td>
						</tr>
					{% endfor %}

                    {% if pagination is defined and pagination == true %}
					<div class="navigation" style="margin-top:20px">
						{{ knp_pagination_render(episodes) }}
					</div>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}


