{% extends "base.html.twig" %}
{% block title %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/style/styleAdminCreationCompte.css">
{% endblock %}

{% block body %}
<div id="page">
    <header>
        <a href="{{path('app_default')}}" class="title">Netflop</a>
    </header>

    <body>
        <div class="formulaire">
            <div class="search">
                <h1> Ajouter des bots</h1>
                {{ form_start(form) }}
                <p>Nom</p>
                {{ form_widget(form.name) }}
                <p>Email</p>
                {{ form_widget(form.email) }}
                <p>Nombre d'utilisateur à créer</p>
                {{ form_widget(form.number) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </body>
{% endblock %}