{% extends "base.html.twig" %} 
{% block title %} 
{{app.user.name}}
 {% endblock %} 

 {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

    {% block body %}

    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ path('photo_user', {'id': app.user.id} ) }}"><span class="font-weight-bold">{{app.user.name}}</span><span class="text-black-50">{{app.user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Mon compte</h4>
                </div>
                <div class="row mt-2 info">
                    <div class="col-md-6"><label class="labels">Nom :</label><br>{{app.user.name}}</div>
                    <div class="col-md-6"><label class="labels">Email :</label><br>{{app.user.email}}</div>
                    <div class="col-md-6"><label class="labels">Pays :</label><br>{{app.user.country}}</div>
                </div>
                <div class="row mt-10 frorm">
                  {{form_start(form)}}
                  <div class="col-md-6"><label class="labels">Nom</label>{{form_row(form.name)}}</div>
                    <div class="col-md-6"><label class="labels">Email</label>{{form_row(form.email)}}</div>
                    <div class="col-md-6"><label class="labels">Pays</label>{{form_row(form.country)}}</div>
                    <div class="col-md-6"><label class="labels">Mot de passe</label>{{form_row(form.plainPassword)}}</div>
                    <div class="col-md-6"><label class="labels">Photo de profil</label>{{form_row(form.photo)}}</div>
                    <div class="col-md-6"><label class="d-flex flex-column align-items-center text-center py-2">Valider</label> <div class="d-flex flex-column align-items-center text-center">{{form_row(form.agreeTerms)}}<div></div>   
                    <div class="p-3">  {{form_row(form.submit)}}</div>
                    {{form_end(form)}}              
                </div>
            </div>
        </div>
        <button class="mt-4 btn btn-primary profile-button" type="button">Modifier mon compte</button>
    </div>
</div>
</div>
</div>

<script>
// make the select element on the correct country
var country = document.querySelector('select');
country.value = {{app.user.country.id}};

// don't dispay the form
var form = document.querySelector('.frorm').style.display = 'none';
var div = document.querySelector('.info').style.display = 'block';
// if the button is clicked, display the form
var button = document.querySelector('.profile-button');
button.addEventListener('click', function(){
    form = document.querySelector('.frorm').style.display = 'block';
    div = document.querySelector('.info').style.display = 'none';
    button.style.display = 'none';
})

    
</script>

    {% endblock %} 
