{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../style/styleHeader.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

{% if app.user %}
<div class="action">
      <div class="profile" onclick="menuToggle();">
          {% if app.user.photo is not null %}
        <img src="{{ path('photo_user', {'id': app.user.id} ) }}" alt="image de profil">
        {% else %}
        <img src="{{ asset('images/avatar.png') }}" alt="image de profil">
        {% endif %}
      </div>
      <div class="menu">
        <ul>
          <li>
            <p style="color:black">Bonjour {{ app.user.name }}</p>
          </li>
          <li>
            <a href="{{ path('app_user_profile') }}">Mon compte</a>
          </li>
          <li>
            <a href="{{ path('app_user_favorite')}}">Mes séries favorites</a>
          </li>
          <li>
            <a href="{{ path('app_user_history')}}">Mon historique</a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li>
            <a href="{{ path('admin') }}">Dashboard Admin</a>
          </li>
          {% endif %}
          {% if is_granted('IS_IMPERSONATOR') %}
          <li>
            <a href="{{ impersonation_exit_url() }}">Désincarner</a>
          </li>
          {% endif %}
          <li>
            <a href="{{ path('app_logout')}}">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    
    
					<a href="{{ path('app_login') }}"><input name="connexion" type="submit" value="Connexion"></a>
					<a href="{{ path('app_register') }}"><input name="inscription" type="submit" value="Inscription"></a>

{% endif %}

    <script>
      function menuToggle() {
        const toggleMenu = document.querySelector(".menu");
        toggleMenu.classList.toggle("active");
      }
    </script>
{% endblock %}
