{% block stylesheets %}
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

{% if numPage is not defined %}
    {% set numPage = 1 %}
{% endif %}

{% if app.user is not null %}
<div class="action">
      <div class="profile" onclick="menuToggle();">
          {% if app.user.photo is not null %}
        <img src="{{ path('photo_user', {'id': app.user.id} ) }}" alt="image de profil">
        {% else %}
        <img src="{{ asset('images/avatar.png') }}" alt="image de profil">
        {% endif %}
      </div>
      <div class="menu">
        <ul>
          <li>
            <p class="name" style="color:white; font-weight: bold ">Bonjour {{ app.user.name }}</p>
          </li>
          <li>
            <a class="option" href="{{ path('app_user_profile', {'id': app.user.id} ) }}">Mon compte</a>
          </li>
          <li>
            <a class="option" href="{{ path('app_series_index') }}">Catalogue</a>
          </li>
          <li>
            <a class="option" href="{{ path('app_user_show_all') }}">Liste d'utilisateurs</a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li>
            <a class="option" href="{{ path('admin') }}">Dashboard Admin</a>
          </li>
          {% endif %}
          {% if is_granted('IS_IMPERSONATOR') %}
          <li>
            <a class="option" href="{{ impersonation_exit_url() }}">Désincarner</a>
          </li>
          {% endif %}
          <li>
            <a class="option" href="{{ path('app_about') }}">A propos</a>
          </li>
          <li>
            <a class="option" href="{{ path('app_logout')}}">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    <div class="action">
      <div class="profile" onclick="menuToggle();">
        <img src="{{ asset('images/avatar.png') }}" alt="image de profil">
      </div>
      <div class="menu">
        <ul>
          <li>
            <a class="option" href="{{ path('app_login') }}">Connexion</a>
          </li>
          <li>
            <a class="option" href="{{ path('app_register') }}">Créer un compte</a>
          </li>
          <li>
           <a class="option" href="{{ path('app_series_index') }}">Catalogue</a>
           </li>
          <li>
            <a class="option" href="{{ path('app_user_show_all') }}">Liste d'utilisateurs</a>
          </li>
           <li>
            <a class="option" href="{{ path('app_about') }}">A propos</a>
          </li>
        </ul>
      </div>
    </div>

{% endif %}


<style>

* {
    margin: 0;
    padding: 0;
  }
  
  header .menu a{
    color: #f44336;
    font-size: small;
  }
  .action {
    position: relative;
    top: 20px;
    right: 30px;
  }
  
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: black;
    width: fit-content;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #f44336;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 2% 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: #f44336;
  }

  .option{
    background-color: #424242;
    padding:2vh 2vh;
    width: 200px;
    border-radius: 10px;
  }

  #id a {
    margin-right: 0px;
  }
  header a {
    text-shadow: 0px 0px 0px black; 
  }

  .pageActive {
    background-color: #f44336;
  }

  .action .menu ul li:hover a.pageActive{
    color: white;
  }
  /*téléphone en portrait*/
  @media screen and (min-width: 340px) and (orientation: portrait) {
    .action .menu ul li a{
      font-size: 1.5em;
    }
    .name{
      font-size: 1.8em;
    }
  
  
}
  </style>

    <script>
      function menuToggle() {
        const toggleMenu = document.querySelector(".menu");
        toggleMenu.classList.toggle("active");
      }
    </script>
    <script>
      const menu = document.querySelectorAll(".menu ul li a");
      for (let i = 0; i < menu.length; i++) {
        if (menu[i].href === location.href) {
          menu[i].className += " pageActive";
        } else if (location.href.includes(menu[i].href)) {
          menu[i].className += " pageActive";
        }
      }
    </script>
{% endblock %}
